export interface {{pascalCase componentname}}Props {

}

export default function {{pascalCase componentname}}({ ...props }: {{pascalCase componentname}}Props) {
return (
<div className='' {...props}>{{pascalCase componentname}}</div>
)
}
